body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

* {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.login-form {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
}

label:first-of-type {
  margin-bottom: 8px;
}

label:last-of-type {
  margin-bottom: 16px;
}

input {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 0 16px;
  background: transparent;

  outline: none;
  transition: border-color 250ms linear;
}

input:hover {
  border-color: #000;
}

button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  max-width: 86px;
  height: 40px;
  background: #4e75ff;
  transition: background 250ms linear;

  cursor: pointer;
}

button:hover {
  background: #6c8cff;
}
